<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/css/uikit.min.css"/>

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit-icons.min.js"></script>
        <title>Page not found</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <div class="uk-container">

            <main>
                <div class="uk-section-large">
                    <div class="uk-container uk-container-large">
                        <div uk-grid="" class="uk-grid-collapse uk-grid-match uk-grid uk-grid-stack">
                            <div class="uk-width-1- uk-width-1-3@s">
                                <div class="uk-card uk-card-default uk-card-body uk-text-center">
                                    <img
                                        src="https://freefrontend.com/assets/img/html-css-404-page-templates/HTML-404-Page-Animated.png"
                                        width="400" alt="">
                                </div>
                            </div>
                            <div class="uk-width-1- uk-width-expand@s">
                                <div class="uk-card uk-card-primary uk-card-body uk-404-card-body">
                                    <h3 class="uk-card-title">It looks like you miscalculated something!</h3>
                                    <p>
                                        This is <code> 404</code> page.
                                    </p>
                                    <div class="uk-button-group">
                                        <a class="uk-button uk-button-default uk-button-small" href="javascript:history.back()">
                                            <i class="fa fa-arrow-left"></i>
                                            Back
                                        </a>
                                        <a class="uk-button  uk-button-default uk-button-small" href="/">
                                            <i class="fa fa-home"></i>
                                            home
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
    </body>
</html>
